body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn {
    padding: 5px;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background-color: rgba(0,0,0,0.6);
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover {
    background-color: rgba(0,0,0)
}